body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

.carousel {

}

.carousel-title {
    text-align: center;
}

.carousel-content-and-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carousel-content-holder {

}

.carousel-content-holder > .hidden {
    display: none;
}

.carousel-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2ch;
}