body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

.carousel {

}

.carousel-title {
    text-align: center;
}

.carousel-content-and-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carousel-content-holder {
    width: 30em;
    height: 20em;
    overflow: hidden;

    position: relative;

    display: flex;
    justify-content: space-around;
}

.carousel-content-holder > * {
    max-width: 100%;
    max-height: 100%;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;

    transition: 2s;
}

.carousel-content-holder > .hidden {
    display: none;
}

.carousel-dot-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2ch;
}

.carousel-button {
    min-width: 2em;
}